.wrapper
{
  display: grid;
  width: 1000px;
  height: 6000px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;
}

body {
  background-color: #3b404e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.item1 {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_1.png");
  background-size: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
  padding: 10px;
}
.item2 {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  background-color: #1EAAFC;
  background-size: auto;
  background-image: url("pix/xkcd_2.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item3 {
  grid-row: 3 / 4;
  grid-column: 1 / 6;
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_3.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item4 {
  grid-row: 5 / 6;
  grid-column: 1 / 6;
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_4.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item5 {
  grid-row: 6 / 7;
  grid-column: 1 / 6;
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_5.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item6 {
  grid-row: 7 / 8;
  grid-column: 1 / 6;
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_6.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item7 {
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_7.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item8 {
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_8.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item9 {
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_9.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item10 {
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_10.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item11 {
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_11.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item12 {
  background-color: #1EAAFC;
  background-image: url("pix/xkcd_12.png");
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}

@media screen and (min-width: 550px) {  /*-- for screens above 550px  --*/
  .cards-item {width: 50%;} /*-- sets card width to half of the page --*/
}
@media screen and (min-width: 1024px) { /*-- for screens above 1024px  --*/
  .cards-item {width: 33.33333%;} /*-- sets card width to one-third of the page --*/
}
@media screen and (min-width: 1280px) { /*-- for screens above 1280px  --*/
  .cards-item {width: 25%;} /*-- sets card width to one-quarter of the page --*/
}
